@model IEnumerable<ProyectoGeolocalizacion.Models.Device>

@{
    ViewData["Title"] = "Maps Position";
    string alias = (string)ViewData["alias"];
}
<h2 class="text-center"> Nombre del canal: @ViewData["channel"]</h2>
<h2 class="text-center"> Dispositivos conectados a este canal</h2>

<title>Geolocation</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">


<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            longitud..........<input type="text" id="userInput" />
            <br />
            latitud...<input type="text" id="messageInput" />
            <br />
            alias...<input type="text" id="alias" value="@ViewData["alias"]" />
            <br />
            canal...<input type="text" id="canal" value="@ViewData["channel"]" />
            <br />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>


    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>



<body>

    <div class="row">
        <div class="col-7" id="mapid"></div>
        <table class="col-4 table table-striped">
            <thead>
                <tr>
                    <th scope="col">Alias</th>
                </tr>
                <tr></tr>
            </thead>
            <tbody>
                @foreach (Device item in Model)
                {
                    <tr>
                        <th>

                            <input checked type="checkbox" />
                        </th>
                        <th>@item.Alias</th>
                    </tr>
                    <tr>
                    </tr>

                }
            </tbody>
        </table>
        <form >
            <button type="submit" asp-controller="MapsPosition" asp-action="DeviceOff" asp-route-alias="@alias">Desconectar</button>
        </form>
    </div>


</body>


