@model IEnumerable<ProyectoGeolocalizacion.Models.Device>

@{
    ViewData["Title"] = "Maps Position";
    string alias = (string)ViewData["alias"];
    string canal = (string)ViewData["canal"];
}

<!-- page-header -->
<div class="page-header">
    <div class="row">
        <div class="offset-1 page-caption">
            <h2 class="page-title text-center"> Nombre del canal: @canal</h2>
            <h2 class="text-center"> Dispositivos conectados a este canal</h2>
        </div>
        <div class="offset-9">
            <h4 class="text-capitalize-"> Mapa de tu posicionamiento</h4>
        </div>
    </div>
</div>
<!-- /.page-header-->


<title>Geolocation</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">


<div class="container">
    <div hidden class="row">
        <div class="col-6">
            longitud..........<input type="text" id="userInput" />
            <br />
            latitud...<input type="text" id="messageInput" />
            <br />
            alias...<input type="text" id="alias" value="@alias" />
            <br />
            canal...<input type="text" id="canal" value="@canal" />
            <br />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>


    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>



<body>

    <div class="row">
        <div class="offset-1 col-sm-7" id="mapid"></div>
        <div class="col-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Alias</th>
                    </tr>
                    <tr></tr>
                </thead>
                <tbody>
                    @foreach (Device item in Model)
                    {
                        <tr>
                            <th>

                                <input checked type="checkbox" />
                            </th>
                            <th>@item.Alias</th>
                        </tr>
                        <tr></tr>

                    }
                </tbody>
            </table>
            <form asp-controller="MapsPosition" asp-action="DeviceOff">
                <input name="alias" value="@alias" type="hidden" />
                <input name="canal" value="@canal" type="hidden" />
                <button id="dscnct" class="btn btn-dark btn-sm" type="submit">Desconectar</button>
            </form>
        </div>
    </div>


</body>


@section Scripts {

    <script src="~/js/canal.js" asp-append-version="true"></script>

}