@model IEnumerable<ProyectoGeolocalizacion.Models.Device>



@{
    ViewData["Title"] = "MapsRoutes";
    string alias = (string)ViewData["alias"];
    string canal = (string)ViewData["canal"];

}


<link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/leaflet.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />




<!-- page-header -->

<div class="page-header-ruta">
    <div class="row">
        <div class="offset-1 page-caption">
            <h2 class="page-title text-center"> Nombre del canal: @canal</h2>
            <h3 class="text-center"> Comprueba la(s) ruta(s) por donde has estado</h3>
        </div>
        <div class="offset-9">
            <h4 class="text-capitalize-"> Mapa de tus rutas</h4>
        </div>
    </div>
</div>


<!-- /.page-header-->

<title>Geolocation</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">

<div hidden class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            @*longitud...*@<input hidden type="text" id="userInput" />
            <br />
            @*latitud...*@<input hidden type="text" id="messageInput" />
            <br />
            @*alias...*@<input hidden type="text" id="alias" value="@ViewData[" alias"]" />
            <br />
            @*canal...*@<input hidden type="text" id="canal" value="@ViewData[" channel"]" />
            <br />
            <input hidden type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>



<body>
    <div class="row">
        <div class="offset-1 col-sm-7">
            <div style="position: relative">
                <div id="routemap" style="height: 400px">
                </div>
            </div>
        </div>


        <div class="col-sm-3">

            <form asp-controller="MapsRoutes" asp-action="ShowRoute">

                <select id="nombreAlias" name="nombreAlias" class="custom-select-lg">
                    <option selected>Selecciona el Alias de busqueda</option>

                    @foreach (Device x in Model)
                    {
                        <option value="@x.Alias">@x.Alias</option>

                    }

                </select>


                <hr />
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <!-- Form code begins -->
                            <div class="form-group">
                                <!-- Date input -->
                                <label class="control-label" for="date">Buscar Fecha</label>
                                <input class="form-control" id="fecha" name="fecha" placeholder="MM/DD/YYY" type="datetime" />
                            </div>
                            <div class="form-group">
                                <!-- Submit button -->                      
                                <input name="canal" value="@canal" type="hidden" />
                                <button id="dscnct" class="btn btn-dark btn-sm" type="submit">Buscar Ruta</button>
                            </div>
                            @*<button type="submit" class="btn btn-dark btn-sm" asp-controller="MapsPosition" asp-action="DeviceOff" asp-route-alias="@alias">Desconectar</button>*@
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>




</body>

@section Scripts{
    <script src="https://cdn-webgl.wrld3d.com/wrldjs/dist/latest/wrld.js"></script>
    <script src="~/js/site.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
}